.App {
  min-height: 100vh;
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

.navigation {
  background-color: #524b3d;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

p {
  margin: 0.5rem;
}

h1 {
  text-align: center;
  margin: 0.5rem;
}
h2 {
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
  color: white;
}

.container {
  margin: auto;
}