button {
    border-radius: 50%;
    padding: 1rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6b6be7;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #383880;
    color: #fff;
}

button:disabled {
    background-color: #8c8c8c;
    color: #fff;
}

[data-tooltip]:before {
    position : absolute;
    content : attr(data-tooltip);
    opacity : 0;
}
[data-tooltip]:hover:before {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity : 1;
    background-color: #d3d3d3;
    color: #000000;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    margin: 5rem 0rem 0;
    align-self: center;
    /*margin-left: 0rem;*/
}